.chatList-items{
    display:  flex;
    cursor: pointer;
    align-items: center;
    height: 70px;
}

.chaList--avatar{
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
}

.chatList--lines{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #eee;
    margin-left: 15px;
    padding-right: 15px;

    flex-wrap: wrap;
    min-width: 0;


    height: 100%;
}

.chatList--item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.chatList-items:hover{
    background-color: #f5f5f5;
}

.user--name{
    font-size: 17px;
    color: black;

}

.date{
    font-size: 12px;
    color:  #999;
}

.chatList--last-msg{
    font-size: 14px;
    color: #999;
    display: flex;
    width: 100%;

}
.chatList--last-msg P {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}