*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color:#D2DBDC;
    font-family: 'Segoe UI', Helvetica Neue, Lucida Grande ,Arial, sans-serif;
}

.App{
    display: flex;
    height: 100vh;
    background-color: #ededed;
}

aside{
    display: flex;
    flex-direction: column;

    border-right: 1px solid #DDD;

    width: 35%;
    max-width: 415px;
}

header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header--avatar{
    padding: 0 15px;
    height: 40px;
    width: 60px;
    border-radius: 50%;
    cursor:pointer;
}

.header--buttons{
    display: flex;
}

.header--btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search{
    background-color: #f6f6f6;
    border-bottom: 1px solid #eee;
    padding: 5px 15px;
}

.search--input{
    background-color: white;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;

}

.search--input input{
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: 10px;
}
.chatList{
    flex: 1;
    background-color: white;
    overflow-y: auto;
}
.chatList::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.chatList::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2);
}
main{
    flex: 1;
}